    <div class="col-lg-12">
    <div class="card mt-5 mb-5 rounded-0">
    <div class="card-body">
    <h2 class="text-center mb-5">Employee Details</h2>

    <div class="row ">
    <div class="col-lg-6">
    <h3>Personal Information</h3>

    <p><strong>First Name:</strong> <%= @employee.first_name %></p>
    <p><strong>Last Name:</strong> <%= @employee.last_name %></p>
    <p><strong>Email:</strong> <%= @employee.personal_email %></p>
    </div>
    <div class="col-lg-6">
    <h3>Address Information</h3>

    <p><strong>Address:</strong> <%= @employee.address %></p>
    <p><strong>City:</strong> <%= @employee.city %></p>
    <p><strong>State:</strong> <%= @employee.state %></p>
    <p><strong>Country:</strong> <%= @employee.country %></p>
    <p><strong>Pin Code:</strong> <%= @employee.pincode %></p>

    </div>
    </div>




    </div>
    </div>

    <%= link_to "Back to Employees", employees_path , class:"btn btn-lg btn-outline-primary rounded-0 " %>
   
    <%= link_to "Edit Employee", edit_employee_path(@employee), class: "btn btn-lg btn-outline-info rounded-0 " %>
    </div>