<div class="col-lg-12">
<%= flash[:notice] %>
<div class="card mt-5 mb-5 rounded-0">
<div class="card-body">
<h2 class="text-center">Listing documents</h2>
</div>
</div>
<%= link_to "Create New document", new_document_path , class: "btn btn-primary btn-lg mb-4 rounded-0"  %>
<table class='table table-bordered'>
<thead >
<tr>

<th>Name</th>
<th>Document Type</th>

<th>Employee ID</th>
<th>Actions</th>


</tr>
</thead>

<tbody>
  <% @documents.each do |document| %>
   <tr> 
   <td><%= document.name %></td>
   <td><%= document.doc_type %></td>
   <td><%= document.employee_id %></td>
   <td >
   


   
  
   <div class="dropdown ">
  <button class="btn btn-primary opacity-85 dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Perform  Actions
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><%= link_to "View", document_path(document) , class: "btn btn-primary dropdown-item" %></li>
    <li>
    <%= link_to "Edit", edit_document_path(document), class: "btn btn-info dropdown-item" %></li>
    <li>
    <%= link_to "Delete", document_path(document), method: :delete, class: "btn btn-danger dropdown-item", data: { confirm: "Are You sure to delete this document" } %></li>
  </ul>
</div>

   
  </td>
   </tr>
  <% end %>
</tbody> 
</table>
</div>